<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <table class="table table-bordered table-hover">
          <caption class="text-center"> <h3>My Profile</h3></caption>
          <tr>
            <th> My User Id </th>
            <td> {{profiledata.id}} </td>
          </tr>

          <tr>
            <th> My Full Name </th>
            <td> {{profiledata.name}} </td>
          </tr>

          <tr>
            <th> My Mobile No </th>
            <td>  {{profiledata.mobile}} </td>
          </tr>

          <tr>
            <th> My e-Mail </th>
            <td>  {{profiledata.email}} </td>
          </tr>
          <tr>
            <th> My Password </th>
            <td>  {{profiledata.password}} </td>
          </tr>

          <tr>
            <th> My City </th>
            <td>  {{profiledata.city}} </td>
          </tr>

          <tr>
            <th> My Pincode </th>
            <td>  {{profiledata.pincode}} </td>
          </tr>
      </table>
  </div>
  <div class="col-md-3"></div>
</div>
